body {
    margin: 0;
}

div.sleepcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sleepcontainer h1 {
    text-align: center;
}

.sleepcontainer p {
    display: block;
    text-align: center;
}