div.statusbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 5px auto;
    width: 80%;
}

p {
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    display: inline-block;
}

div.badgeblock {
    align-self: center;
}

.badgegood {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: auto;

    position: relative;
    border-radius: 100px;
    line-height: 1;
    overflow: hidden;
    padding: 0px 12px 0px 12px;
    margin: 0 5px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: #595959;
    background: #b4eda0;

    word-break: break-word;
}

.badgefailed {
    align-items: center;
    font-family: "Open Sans", Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    width: auto;

    position: relative;
    border-radius: 100px;
    line-height: 1;
    overflow: hidden;
    padding: 0px 12px 0px 12px;
    text-overflow: ellipsis;
    line-height: 1.25rem;
    color: #595959;
    background: #ffd5d1;

    word-break: break-word;
}