.container {
    display: grid;
    justify-content: space-evenly;
    grid-auto-flow: column;
    grid-gap: 0px;
}

.childcontainer {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 6px;
    grid-template-rows: 30% 30% 30%;
}

.item {
    width: 100%;
    min-width: 43px;
    padding: 0 0px;
    text-align: center;
}

.header {
    width: 100%;
}

.rc-higher {
    background-color: #ff0000;
    transition: background-color 15s ease-in-out;
}

.rc-lower {
    background-color: #0000ff;
    transition: background-color 15s ease-in-out;
}

@media (max-width: 1250px) {
    .container {
        justify-content: center;
        grid-auto-flow: row;
        width: max(300px, 50%);
        margin: 0 auto;
        row-gap: 5px;
    }

    .childcontainer {
        grid-auto-flow: column;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: initial;
    }

    .item {
        min-width: 100px;
    }
}